.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:700px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius:20px;
  
 }
 @media only screen and (max-width: 768px) {
  .slide {
    height: 550px; /* Adjust height for smaller screens */
  }
}

 .slide2 {
  background-image: url(./assets/img1.avif);
 }
  
 .slide1 {
  background-image: url(./assets/img3.jpg);
 }
 .slide3 {
  background-image:url(./assets/img2.jpg);
 }
  